.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.message-chat-form {
  min-width: 79vw;
  max-width: 500px;
  width: 100%;
}

::ng-deep .message-chat-field {
  width: 100%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
  position: relative;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.chat-messages-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 87%;
}

.chat-messages {
  column-gap: 50px;
  height: 100%;
  /*position: absolute;*/
  /*position: relative;*/
  /*display: flex;*/
  /*background-color: mediumpurple;*/
  overflow-y: scroll;
  padding-left: 0.1%;
  padding-right: 0.1%;
  max-height: 100%;
}

.chat-message {
  /*background-color: mediumpurple;*/
  background-color: rgb(240, 240, 242);
  border-radius: 3px;
}

